
body { 
    background-color: white; 
    margin: 0;
}

h1 {
	font-family: "Lato", sans-serif;
	font-variant: 
	color: "black";
	font-size: 40px;
	text-align: center;
	margin: 0em;
}

h2 {
	font-family: "Lato", sans-serif;
	color: "black";
	font-size: 30px;
	text-align: center;
	margin: 0em;
	
}

h3 {
	font-family: "Lato", sans-serif;
	color: "black";
	font-size: 20px;
	text-align: center;
	margin: 0em;+
}

p { 
	font-family: "Lato", sans-serif;
	color: gray;
	font-size: 14px;
	padding-bottom: 18px;
	text-align: center;
}

li { 
	font-family: "Lato", sans-serif;
	color: gray;
	font-size: 14px;
	padding-bottom: 18px;
	text-align: center;
}

footer { 
	text-align: center;
	background-color: black;
}

.section {
  	float: left;
  	width: 300px;
  	margin: 10px;
  	padding: 20px 20px 20px 20px;  
	box-sizing: border-box;
}

.space {
	padding-left: 0;

}
.space li {
	padding-bottom: 20px; 
} 

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 30px 0; 
     }

.displayed2 {
    display: block;
    margin-left: auto;
    margin-right: auto }

.icon {
	display: block;


}

#nobullets li {
 list-style-type: none;
 }

#under {
	font-family: "garamond";
	color: gray;
	font-size: 13px;
}

.header { 
	width: 500px;
	margin: 10px auto;
}

.wrapper2 {
	width: 100%;
	background-color: #e0e0e0; 
	overflow: hidden;
}

.wrapper {
	width: 100%;
	background-color: #fff5b3; 
	overflow: hidden;
	padding-top: 25px;
}

.wrapper3 {
	width: 100%;
	overflow: hidden;
	padding-top: 25px;
	padding-bottom: 25px;
}

.center {
	margin: 0 auto;
	border-top: 20px;
}

.center2 {
	width:960px;
	margin: 0 auto;
}

#footer {
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 12px;
	font-style: italic;
	margin-right: 20px;
}

.section2 {
  	width: 100px;
  	padding: 100px;
}
